{port_specs,
 [
  {"priv/mzmetrics.so",
   ["c_src/mzmetrics.c",
    "c_src/mzmetrics_nif.c",
    "c_src/mzmetrics_counters_no_preallocation.c",
    "c_src/mzmetrics_hashtable_counters.cc"
   ]}
 ]}.

{port_env,
 [
    {"CC", "gcc"},
    {"CXX", "g++"},
    {"CFLAGS", "-DPCPU_COUNTERS -O3 -std=c99 -Werror -Wall"},
    {"CXXFLAGS", "-DPCPU_COUNTERS -O3 -std=c++11 -Wno-write-strings"},
    {"LDFLAGS", "-lstdc++"}
 ]}.

{deps,
[
  {lager,            ".*", {git, "https://github.com/quasiconvex/lager.git"}},
  {setup,            ".*", {git, "https://github.com/uwiger/setup.git",               {tag, "1.4"}}},
  {parse_trans,      ".*", {git, "https://github.com/uwiger/parse_trans.git",         {tag, "2.9"}}},
  %
  % The following entries are needed for benchmarking only.
  %
  {folsom,           ".*", {git, "https://github.com/boundary/folsom.git",            {tag, "0.8.2"}}},
  {exometer_core,    ".*", {git, "https://github.com/Feuerlabs/exometer_core",        "35e2f61990b99de66f14aa702af5767b9f5d65c5"}}
]}.
